<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="https://unpkg.com/vue-resource/dist/vue-resource.js"></script>
<div id="app">
    <h1>演示路由切换后获取数据</h1>
    <div>
        <router-link to="/home">home</router-link>
        <router-link to="/user">user</router-link>
    </div>
    <router-view>
    </router-view>
</div>
<script>
    //申明组件
    const User = {
        template: '<div>' +
            '<div v-if="post"><p>用户名: {{username}}</p></div>' +
            '<div v-if="loading">... 加载中</div>' +
            '<div v-if="err">出错了: {{errMsg}}</div>' +
        '</div>',
        //组件实例化成功后的钩子
        created() {
            this.getData();
        },
        methods: {
           getData() {
               this.loading = true;
               this.err = this.post = null;
               this.$http.get('http://localhost:8081/user.json').then(
                   response => {
                       alert('加载成功,将会显示用户名!');
                       this.loading = false;
                       this.post = true;
                       this.username = response.body.name;
                   }
               ).catch( response => {
                   alert('加载失败,显示错误信息!');
                   this.loading = false;
                    this.err = true;
                    this.errMsg = response.statusText || '未开启 http-server';
               })
           }
        },
        data: function () {
            return {
                username: null,
                errMsg:null,
                post: false,
                loading: false,
                err: false,
            }
        }
    }
    const Home = {template: '<div>主页</div>'}

    //申明路由
    const routes = [
        {
            path: '/user', component: User,
        },
        {
            path: '/home', component: Home
        },
        {path: '*', component: Home}
    ];
    //实例化路由
    const router = new VueRouter({
        routes
    });

    //注册路由
    const app = new Vue({
        router
    }).$mount('#app')

</script>