<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

<div id="sameData">
  <h1>显示列表</h1>
  <p>
      <label for="showAll">显示标记</label>
      <input type="checkbox" name="showAll" v-model="showAll"></input></p>
  <ul>
    <li v-for="(item,index) in list" :key="index">
      <div v-if="showAll || item.checked">
        <p>{{ item.title }}</p>
        <input type="checkbox" v-model="item.checked" />
      </div>
    </li>
  </ul>
</div>

<script>
  // create a root instance
  new Vue({
    el: '#sameData',
    data: {
      showAll: true,
      list: [
        {
          title: 1,
          checked: false
        },
        {
          title: 2,
          checked: false
        },
        {
          title: 3,
          checked: false
        }
      ]
    },
  }); // register

  // Now the app has started!
</script>
