<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

<div id="example">
    <my-info></my-info>
    <!--此处使用 info 内部组件会报错-->
<!--
    <my-content></my-content>
-->
</div>

<script>
    //申明内部组件
    const MyContent = {
        template:'<div>子组件只适用于 info 组件内部</div>'
    };
    //利用 components 属性定义内建组件和对象
    const MyInfo = {
        template:'<div><h1>标题</h1><my-content></my-content></div>',
        components:{
            MyContent
        }
    };
    //利用  component 绑定组件
    //单一组件使用 component 注入.
    //多组件使用 .components 申明
    new Vue({
        el: '#example',
        components:{MyInfo}
    })


</script>