<script src="https://unpkg.com/vue/dist/vue.js"></script>

<div id="app">
  <div style="padding:2rem;">
    <button v-is-arrived style="background:blue;color:green;font-size: 2rem;">
      测试按钮
    </button>
  </div>
  <div style="background:black;height:3000px"></div>
</div>

<script>
  // create a root instancbe
  Vue.directive('isArrived', {
    inserted: function(el, binding) {
     let f = function() {
        console.log(el.getBoundingClientRect());
     }
      window.addEventListener('scroll', f);
    }
  });

  new Vue({
    el: '#app',
    data: {
      showAll: true,
      list: [
        {
          title: 1,
          checked: false
        },
        {
          title: 2,
          checked: false
        },
        {
          title: 3,
          checked: false
        }
      ]
    }
  }); // register

  // Now the app has started!
</script>
