<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

<div id="app">
	<filter-tabs :options="options" :current-select.sync="value" :default-select="2">
	</filter-tabs>
</div>

<script>
	Vue.component('select-options', {
		template: `<div  class="select">
			<div  @click="showValue(index)" class="select-item" :class="{selected:currentSelect === index }" v-for="(item,index) in options" :v-key="index">
				{{item.name}}
				</div>

		</div>`,
		data() {
			return {
				currentSelect:this.defaultSelect
			}
		},
		props: {
			options: {
				type: Array
			},
			value:null,
			defaultSelect:null,
		},
		methods:{
			showValue(index) {
				if(this.options[index].value === this.value) {
					this.currentSelect = null
					this.$emit('update:value',null)
				} else {
					this.currentSelect = index
					this.$emit('update:value', this.options[index].value)
				}
				
			}
		}
	})
	new Vue({
		el: '#app',
		data: {
			options: [{ name: 'tom', value: 1 }, { name: 'tom', value: 2 },{ name: 'tom', value: 3 }, ],
			value:null
		}
	})
</script>
<style>
	.select {
		display: flex;
		justify-content: space-around;
	}

	.select-item {
		width: 100px;
		height: 50px;
		border: 1px solid #000;
		text-align: center;
		line-height: 50px;

	}
	.selected {
		border: 1px solid red;
	}
</style>