ellipse()
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

$Moblie = 800px

.app
  display flex
  padding 10px

  nav
    position fixed
    max-width 300px
    margin-right 10px
    height 100%
    overflow hidden

    &:hover
      overflow-y auto

    .nav-item
      padding 2px 5px
      cursor pointer
      border-bottom 1px solid #000
      &.active
        border-bottom 1px solid #22B077
      &:hover
        background: #f5fff6
  .app-content
    margin-left 310px
    flex 1
    border 1px solid #000
    padding 10px
    height 90vh
    // >iframe 
    

@media (max-width $Moblie)
  .app
    flex-direction column

  nav
    width 100%
