<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.bootcss.com/vue/2.3.4/vue.js"></script>
</head>
<body>
<div id="app">
    <p @click="change" v-if="flag">点击切换显示</p>
    <p @click="change" v-else="!flag">另一个文本块</p>
    <ul>
        <li v-for="(item,index) in items">index:{{index}},value::{{item}}</li>
    </ul>
    <ul>
        <li v-for="(value,key,index) in obj">value:{{value}},key:{{key}},index:{{index}}</li>
    </ul>
    <ul>
        <li v-for="i in 10">{{i}}</li>
    </ul>
</div>
<script>
    var app = new Vue({
        el:"#app",
        data:{
            flag:false,
            items:[1,2,3],
            obj:{
                a:1,
                v:2,
                c:{
                    a:1,
                    b:[1,2,3]
                }
            },
        },
        methods:{
            change:function () {
                this.flag ^= 1;
            }
        }
    });

</script>
</body>
</html>