---
tags: [ hooks ]
---
<script src="https://cdn.bootcss.com/vue/2.3.4/vue.js"></script>

<script type="text/x-template" id="children">
  <span>{{text}}</span>
</script>
<script>
  const Children = {
    template: '#children',
    props: {
      interval: {
        type: Number,
        default: 1000
      }
    },
    data() {
      return {
        text: new Date().toISOString()
      }
    },
    created() {
      let timmer = setInterval(() => {
        this.text = new Date().toISOString()
      }, this.interval);
      this.$once('hook:beforeDestroy', function () {
        console.log('clear success');
        clearInterval(timmer)
      })
    }
  }
</script>
<script type="text/x-template" id="children">
  <p>Hello hello hello</p>
</script>

<div id="app">
  <div>
    <P>
      1000ms: <Children v-if="showTime" :interval="1000"></Children>
      <button @click="showTime^=1">trigger show</button>
    </P>
    <P>
      100ms: <Children v-if="showMs" :interval="100"></Children>
      <button @click="showMs^=1">trigger show</button>
    </P>
  </div>


</div>
<script>
  const vue = new Vue({
    el: '#app',
    data: {
      showTime: true,
      showMs: true,
    },
    components: {
      Children
    },
  })
</script>